BODY {
	 font-size:12px; font-family:arial; background-color:#ffffff; margin:0;
}
table {
	 font-size:12px; font-family:Arial;
}
A:hover {
	 text-decoration:none;
}
#siteTitle {
	 font-size:200%; margin:0; margin-top:40px;
}
#siteSubtitle {
	 color:#575757; font-size:140%; margin:0;
}
#td8 {
	 width:25%; height:150px;
}
#pageMainmenu {
	 margin-top:15px; margin-bottom:15px; margin-left:20px;
}
#td11 {
	 background-color:#B1B1B1;
}
#pageMainmenu .menu {
	 color:#ffffff; text-decoration:none; float:left;
}
#pageMainmenu .menu:hover {
	 text-decoration:underline;
}
#pageMainmenu .mids {
	 color:#FFFFFF;
}
#td20 {
	 background-color:#F3F3F3; padding-top:20px; padding-bottom:20px; padding-left:20px;
}
#technopict {
	 margin-right:3px; float:left;
}
#div22 {
	 float:left;
}
#td16 {
	 width:25%;
}
#td18 {
	 padding-left:20px; padding-right:20px; border-left:1px dotted #C0C0C0; width:27%;
}
#td17 {
	 padding-left:20px; padding-right:20px; border-left:1px dotted #C0C0C0;
}
#table14 {
	 margin-top:20px; margin-bottom:30px;
}
#pageMenu {
	 margin-left:20px;
}
#searchForm {
	 margin-bottom:20px; margin-left:20px; display:inline-block; clear:both;
}
#authorizeForm {
	 margin-bottom:20px; display:inline-block; clear:both;
}
#pageTitle {
	 font-size:100%;
}
.contentTitle {
	 font-size:200%; font-weight:normal;
}
.contentImage {
	 margin-right:20px; float:left;
}
.objectImage {
	 margin-right:20px; float:left;
}
#view .objectImage {
	 margin-right:20px; float:left;
}
.objectTitle {
	 font-weight:bold;
}
#searchForm .title {
	 margin-bottom:5px; display:block;
}
#searchForm #search {
	 margin-right:2px; width:70%; height:18px; float:left;
}
#searchForm .buttonSend {
	 float:left;
}
#pageMenu .menu {
	 text-decoration:none; background-color:#FFFFFF; padding-top:7px; padding-bottom:7px; border-bottom:1px dotted #c0c0c0; width:100%; float:left;
}
#pageMenu .menu:hover {
	 text-decoration:underline;
}
#pageMenu .tableMenu {
	 width:90%; float:left;
}
#authorizeForm .authorin .title {
	 margin-bottom:5px; display:block;
}
#authorizeForm .authorin .authorlogin {
	 margin-bottom:1px; display:block; width:120px; height:18px;
}
#authorizeForm .authorin .authorpassw {
	 margin-right:2px; width:120px; height:18px; float:left;
}
#authorizeForm .authorin .buttonSend {
	 float:left;
}
#authorizeForm .authorSave {
	 margin-top:5px; margin-bottom:5px; display:block; clear:both;
}
#authorizeForm .authorout .title {
	 margin-bottom:5px; display:block;
}
#authorizeForm .authorout .link {
	 margin-top:10px; display:block; clear:both;
}
#td9 {
	 padding-left:20px;
}
#table3 {
	 margin-left:auto; margin-right:auto;
}
#pageMenu .submenu {
	 float:left;
}
#pageMenu .submenu .menu {
	 width:200px;
}
html {
	 width:100%; height:100%;
}
#siteLogotype {
	 margin-top:25px;
}
.quote_note {
	 color:#281f06; background-color:#FBF7CE; padding-top:15px; padding-bottom:15px; padding-left:15px; padding-right:15px; border-width:1px; border-color:#ff8000; border-style:dotted;
}
.quote_comment {
	 color:#000F35; background-color:#e9ecfc; padding-top:15px; padding-bottom:15px; padding-left:15px; padding-right:15px; border-width:1px; border-color:#8080ff; border-style:dotted;
}
.quote_info {
	 color:#242C0C; background-color:#e9f58d; padding-top:15px; padding-bottom:15px; padding-left:15px; padding-right:15px; border-width:1px; border-color:#98ad1d; border-style:dotted;
}
.quote_prevent {
	 color:#ffffff; background-color:#FB6A55; padding-top:15px; padding-bottom:15px; padding-left:15px; padding-right:5px; border-width:1px; border-color:#750000; border-style:dotted;
}
#con_mapsite .mapline {
	 margin:0; margin-bottom:7px;
}
#con_mapsite #maplinks2 {
	 margin-left:30px;
}
#con_mapsite #maplinks3 {
	 margin-left:60px;
}
#cont_guest #blockip { margin-top:10px; margin-left:20px; display:block; }
#cont_guest #comments .comm { border-width:1px; border-color:#c0c0c0; border-style:dotted; margin-top:10px; margin-bottom:30px; }
#cont_guest #comments .comm .userdat { border-bottom:1px dotted #c0c0c0; height:23px; }
#cont_guest #comments .comm .userdat .adm_lnk { font-weight:bold; text-decoration:none; background-color:#ffffff; width:23px; height:23px; float:left; text-align:center; vertical-align:middle; }
#cont_guest #comments .comm .userdat .date { margin-top:3px; margin-left:5px; float:left; }
#cont_guest #comments .comm .userdat .name { margin-top:3px; margin-left:20px; float:left; }
#cont_guest #comments .comm .com_txt { margin-top:20px; margin-bottom:10px; margin-left:10px; display:block; clear:both; }
#cont_guest #comments .comm .adm_txt { padding-top:10px; padding-bottom:10px; padding-left:10px; padding-right:10px; border-width:1px; border-color:#c0c0c0; border-style:dotted; margin-bottom:10px; margin-left:10px; margin-right:10px; }
#cont_guest #comments .comm .admin_label { font-weight:bold; margin-bottom:10px; display:block; }
#cont_guest #comments .pageselector { margin-bottom:20px; margin-left:20px; }
#cont_guest #comments .pageselector .activpg { margin-right:7px; }
#cont_guest #comments .pageselector .pagesel { margin-right:5px; }
#cont_guest #guesttab { width:300px; }
#cont_guest #guesttab .inp { width:145px; float:right; }
#cont_guest #guesttab #textar { width:100%; height:100px; }
#cont_guest #guesttab .tabltext { width:30%; }
#cont_guest .error { color:#ff0000; font-weight:bold; display:block; clear:both; }
#cont_guest .errorinp { border-width:2px; border-color:#ff0000; border-style:solid; }
#cont_guest #guesttab #pin_img { margin-bottom:2px; float:right; }
#cont_guest #subpage1 .cbox { margin-right:10px; }
#cont_mail .err { color:#ff0000; font-size:11px; font-weight:bold; font-family:verdana; }
#cont_mail .tableTable { margin-top:10px; width:300px; }
#cont_mail .tabletitle { width:150px; }
#cont_mail .textarea { width:100%; height:100px; }
#cont_mail .errorinp { border-width:1px; border-color:#FF0000; border-style:solid; }
#cont_mail .buttonSend#Send { margin-top:20px; display:block; }
#cont_mail #subpage1  .buttonSend { margin-top:20px; display:block; }
